<div id="wrapper" class="wrapper bg-ash">
  <!-- Header Menu Area Start Here -->
   <div class="navbar navbar-expand-md header-menu-one bg-light">
       <div class="nav-bar-header-one">
           <div class="header-logo">
               <a href="index.html">
                   <img src="assets/img/logo.png" alt="logo">
               </a>
           </div>
            <div class="toggle-button sidebar-toggle">
               <button type="button" class="item-link">
                   <span class="btn-icon-wrap">
                       <span></span>
                       <span></span>
                       <span></span>
                   </span>
               </button>
           </div>
       </div>
       <div class="d-md-none mobile-nav-bar">
          <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
               <i class="far fa-arrow-alt-circle-down"></i>
           </button>
           <button type="button" class="navbar-toggler sidebar-toggle-mobile">
               <i class="fas fa-bars"></i>
           </button>
       </div>
       <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
           <ul class="navbar-nav">
               <li class="navbar-item header-search-bar">
                   <div class="input-group stylish-input-group">
                       <span class="input-group-addon">
                           <button type="submit">
                               <span class="flaticon-search" aria-hidden="true"></span>
                           </button>
                       </span>
                       <input type="text" class="form-control" placeholder="Find Something . . .">
                   </div>
               </li>
           </ul>
           <ul class="navbar-nav">
               <li class="navbar-item dropdown header-admin">
                   <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                       <div class="admin-title">
                           <h5 class="item-title">Stevne Zone</h5>
                           <span>Admin</span>
                       </div>
                       <div class="admin-img">
                           <img src="assets/img/figure/admin.jpg" alt="Admin">
                       </div>
                   </a>
                   <div class="dropdown-menu dropdown-menu-right">
                       <div class="item-header">
                           <h6 class="item-title">Steven Zone</h6>
                       </div>
                       <div class="item-content">
                           <ul class="settings-list">
                               <li><a href="#"><i class="flaticon-user"></i>My Profile</a></li>
                               <li><a href="#"><i class="flaticon-list"></i>Task</a></li>
                               <li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>
                               <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                               <li><a href="login.html"><i class="flaticon-turn-off"></i>Log Out</a></li>
                           </ul>
                       </div>
                   </div>
               </li>
               <li class="navbar-item dropdown header-message">
                   <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                       <i class="far fa-envelope"></i>
                       <div class="item-title d-md-none text-16 mg-l-10">Message</div>
                       <span>5</span>
                   </a>

                   <div class="dropdown-menu dropdown-menu-right">
                       <div class="item-header">
                           <h6 class="item-title">05 Message</h6>
                       </div>
                       <div class="item-content">
                           <div class="media">
                               <div class="item-img bg-skyblue author-online">
                                   <img src="assets/img/figure/student11.png" alt="img">
                               </div>
                               <div class="media-body space-sm">
                                   <div class="item-title">
                                       <a href="#">
                                           <span class="item-name">Maria Zaman</span> 
                                           <span class="item-time">18:30</span> 
                                       </a>  
                                   </div>
                                   <p>What is the reason of buy this item. 
                                   Is it usefull for me.....</p>
                               </div>
                           </div>
                           <div class="media">
                               <div class="item-img bg-yellow author-online">
                                   <img src="assets/img/figure/student12.png" alt="img">
                               </div>
                               <div class="media-body space-sm">
                                   <div class="item-title">
                                       <a href="#">
                                           <span class="item-name">Benny Roy</span> 
                                           <span class="item-time">10:35</span> 
                                       </a>  
                                   </div>
                                   <p>What is the reason of buy this item. 
                                   Is it usefull for me.....</p>
                               </div>
                           </div>
                           <div class="media">
                               <div class="item-img bg-pink">
                                   <img src="assets/img/figure/student13.png" alt="img">
                               </div>
                               <div class="media-body space-sm">
                                   <div class="item-title">
                                       <a href="#">
                                           <span class="item-name">Steven</span> 
                                           <span class="item-time">02:35</span> 
                                       </a>  
                                   </div>
                                   <p>What is the reason of buy this item. 
                                   Is it usefull for me.....</p>
                               </div>
                           </div>
                           <div class="media">
                               <div class="item-img bg-violet-blue">
                                   <img src="assets/img/figure/student11.png" alt="img">
                               </div>
                               <div class="media-body space-sm">
                                   <div class="item-title">
                                       <a href="#">
                                           <span class="item-name">Joshep Joe</span> 
                                           <span class="item-time">12:35</span> 
                                       </a>  
                                   </div>
                                   <p>What is the reason of buy this item. 
                                   Is it usefull for me.....</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
               <li class="navbar-item dropdown header-notification">
                   <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                       <i class="far fa-bell"></i>
                       <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
                       <span>8</span>
                   </a>

                   <div class="dropdown-menu dropdown-menu-right">
                       <div class="item-header">
                           <h6 class="item-title">03 Notifiacations</h6>
                       </div>
                       <div class="item-content">
                           <div class="media">
                               <div class="item-icon bg-skyblue">
                                   <i class="fas fa-check"></i>
                               </div>
                               <div class="media-body space-sm">
                                   <div class="post-title">Complete Today Task</div>
                                   <span>1 Mins ago</span>
                               </div>
                           </div>
                           <div class="media">
                               <div class="item-icon bg-orange">
                                   <i class="fas fa-calendar-alt"></i>
                               </div>
                               <div class="media-body space-sm">
                                   <div class="post-title">Director Metting</div>
                                   <span>20 Mins ago</span>
                               </div>
                           </div>
                           <div class="media">
                               <div class="item-icon bg-violet-blue">
                                   <i class="fas fa-cogs"></i>
                               </div>
                               <div class="media-body space-sm">
                                   <div class="post-title">Update Password</div>
                                   <span>45 Mins ago</span>
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
                <li class="navbar-item dropdown header-language">
                   <a class="navbar-nav-link dropdown-toggle" href="#" role="button" 
                   data-toggle="dropdown" aria-expanded="false"><i class="fas fa-globe-americas"></i>EN</a>
                   <div class="dropdown-menu dropdown-menu-right">
                       <a class="dropdown-item" href="#">English</a>
                       <a class="dropdown-item" href="#">Spanish</a>
                       <a class="dropdown-item" href="#">Franchis</a>
                       <a class="dropdown-item" href="#">Chiness</a>
                   </div>
               </li>
           </ul>
       </div>
   </div>
   <!-- Header Menu Area End Here -->
   <!-- Page Area Start Here -->
   <div class="dashboard-page-one">
       <!-- Sidebar Area Start Here -->
       <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
          <div class="mobile-sidebar-header d-md-none">
               <div class="header-logo">
                   <a href="index.html"><img src="assets/img/logo1.png" alt="logo"></a>
               </div>
          </div>
           <div class="sidebar-menu-content">
            <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                <li id="1stmenu" class="nav-item sidebar-nav-item">
                    <a href="#" (click)="SubmenuClick('1stmenu', '1stsubmenu')" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                    <ul id="1stsubmenu" class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link"><i class="fas fa-angle-right"></i>Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link"><i class="fas fa-angle-right"></i>Students</a>
                        </li>
                        <li class="nav-item">
                            <a href="index4.html" class="nav-link"><i class="fas fa-angle-right"></i>Parents</a>
                        </li>
                        <li class="nav-item">
                            <a href="index5.html" class="nav-link"><i class="fas fa-angle-right"></i>Teachers</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="all-student.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Students</a>
                        </li>
                        <li class="nav-item">
                            <a href="student-details.html" class="nav-link"><i class="fas fa-angle-right"></i>Student Details</a>
                        </li>
                        <li class="nav-item">
                            <a href="admit-form.html" class="nav-link"><i class="fas fa-angle-right"></i>Admission Form</a>
                        </li>
                        <li class="nav-item">
                            <a href="student-promotion.html" class="nav-link"><i class="fas fa-angle-right"></i>Student Promotion</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-multiple-users-silhouette"></i><span>Teachers</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="all-teacher.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a href="teacher-details.html" class="nav-link"><i class="fas fa-angle-right"></i>Teacher Details</a>
                        </li>
                        <li class="nav-item">
                            <a href="add-teacher.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                Teacher</a>
                        </li>
                        <li class="nav-item">
                            <a href="teacher-payment.html" class="nav-link"><i class="fas fa-angle-right"></i>Payment</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-couple"></i><span>Parents</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="all-parents.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Parents</a>
                        </li>
                        <li class="nav-item">
                            <a href="parents-details.html" class="nav-link"><i class="fas fa-angle-right"></i>Parents Details</a>
                        </li>
                        <li class="nav-item">
                            <a href="add-parents.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                Parent</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-books"></i><span>Library</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="all-book.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Book</a>
                        </li>
                        <li class="nav-item">
                            <a href="add-book.html" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                Book</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-technological"></i><span>Acconunt</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="all-fees.html" class="nav-link"><i class="fas fa-angle-right"></i>All Fees
                                Collection</a>
                        </li>
                        <li class="nav-item">
                            <a href="all-expense.html" class="nav-link"><i class="fas fa-angle-right"></i>Expenses</a>
                        </li>
                        <li class="nav-item">
                            <a href="add-expense.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                Expenses</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="all-class.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="add-class.html" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                Class</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="all-subject.html" class="nav-link"><i class="flaticon-open-book"></i><span>Subject</span></a>
                </li>
                <li class="nav-item">
                    <a href="class-routine.html" class="nav-link"><i class="flaticon-calendar"></i><span>Class
                            Routine</span></a>
                </li>
                <li class="nav-item">
                    <a href="student-attendence.html" class="nav-link"><i class="flaticon-checklist"></i><span>Attendence</span></a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="exam-schedule.html" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a href="exam-grade.html" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                Grades</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="transport.html" class="nav-link"><i class="flaticon-bus-side-view"></i><span>Transport</span></a>
                </li>
                <li class="nav-item">
                    <a href="hostel.html" class="nav-link"><i class="flaticon-bed"></i><span>Hostel</span></a>
                </li>
                <li class="nav-item">
                    <a href="notice-board.html" class="nav-link"><i class="flaticon-script"></i><span>Notice</span></a>
                </li>
                <li class="nav-item">
                    <a href="messaging.html" class="nav-link"><i class="flaticon-chat"></i><span>Messeage</span></a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-menu-1"></i><span>UI Elements</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a href="notification-alart.html" class="nav-link"><i class="fas fa-angle-right"></i>Alart</a>
                        </li>
                        <li class="nav-item">
                            <a href="button.html" class="nav-link"><i class="fas fa-angle-right"></i>Button</a>
                        </li>
                        <li class="nav-item">
                            <a href="grid.html" class="nav-link"><i class="fas fa-angle-right"></i>Grid</a>
                        </li>
                        <li class="nav-item">
                            <a href="modal.html" class="nav-link"><i class="fas fa-angle-right"></i>Modal</a>
                        </li>
                        <li class="nav-item">
                            <a href="progress-bar.html" class="nav-link"><i class="fas fa-angle-right"></i>Progress Bar</a>
                        </li>
                        <li class="nav-item">
                            <a href="ui-tab.html" class="nav-link"><i class="fas fa-angle-right"></i>Tab</a>
                        </li>
                        <li class="nav-item">
                            <a href="ui-widget.html" class="nav-link"><i class="fas fa-angle-right"></i>Widget</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="map.html" class="nav-link"><i class="flaticon-planet-earth"></i><span>Map</span></a>
                </li>
                <li class="nav-item">
                    <a href="account-settings.html" class="nav-link"><i class="flaticon-settings"></i><span>Account</span></a>
                </li>
            </ul>
           </div>
       </div>
       <!-- Sidebar Area End Here -->
       <div class="dashboard-content-one">
           

       
                
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011-07-25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009-01-12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012-03-29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008-11-28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012-12-02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012-08-06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010-10-14</td>
                    <td>$327,900</td>
                </tr>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009-09-15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008-12-13</td>
                    <td>$103,600</td>
                </tr>
                <tr>
                    <td>Jena Gaines</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>30</td>
                    <td>2008-12-19</td>
                    <td>$90,560</td>
                </tr>
                <tr>
                    <td>Quinn Flynn</td>
                    <td>Support Lead</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2013-03-03</td>
                    <td>$342,000</td>
                </tr>
                <tr>
                    <td>Charde Marshall</td>
                    <td>Regional Director</td>
                    <td>San Francisco</td>
                    <td>36</td>
                    <td>2008-10-16</td>
                    <td>$470,600</td>
                </tr>
                <tr>
                    <td>Haley Kennedy</td>
                    <td>Senior Marketing Designer</td>
                    <td>London</td>
                    <td>43</td>
                    <td>2012-12-18</td>
                    <td>$313,500</td>
                </tr>
                <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>19</td>
                    <td>2010-03-17</td>
                    <td>$385,750</td>
                </tr>
                <tr>
                    <td>Michael Silva</td>
                    <td>Marketing Designer</td>
                    <td>London</td>
                    <td>66</td>
                    <td>2012-11-27</td>
                    <td>$198,500</td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010-06-09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009-04-10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012-10-13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012-09-26</td>
                    <td>$217,500</td>
                </tr>
                <tr>
                    <td>Jenette Caldwell</td>
                    <td>Development Lead</td>
                    <td>New York</td>
                    <td>30</td>
                    <td>2011-09-03</td>
                    <td>$345,000</td>
                </tr>
                <tr>
                    <td>Yuri Berry</td>
                    <td>Chief Marketing Officer (CMO)</td>
                    <td>New York</td>
                    <td>40</td>
                    <td>2009-06-25</td>
                    <td>$675,000</td>
                </tr>
                <tr>
                    <td>Caesar Vance</td>
                    <td>Pre-Sales Support</td>
                    <td>New York</td>
                    <td>21</td>
                    <td>2011-12-12</td>
                    <td>$106,450</td>
                </tr>
                <tr>
                    <td>Doris Wilder</td>
                    <td>Sales Assistant</td>
                    <td>Sydney</td>
                    <td>23</td>
                    <td>2010-09-20</td>
                    <td>$85,600</td>
                </tr>
                <tr>
                    <td>Angelica Ramos</td>
                    <td>Chief Executive Officer (CEO)</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2009-10-09</td>
                    <td>$1,200,000</td>
                </tr>
                <tr>
                    <td>Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <td>42</td>
                    <td>2010-12-22</td>
                    <td>$92,575</td>
                </tr>
                <tr>
                    <td>Jennifer Chang</td>
                    <td>Regional Director</td>
                    <td>Singapore</td>
                    <td>28</td>
                    <td>2010-11-14</td>
                    <td>$357,650</td>
                </tr>
                <tr>
                    <td>Brenden Wagner</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>28</td>
                    <td>2011-06-07</td>
                    <td>$206,850</td>
                </tr>
                <tr>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                    <td>48</td>
                    <td>2010-03-11</td>
                    <td>$850,000</td>
                </tr>
                <tr>
                    <td>Shou Itou</td>
                    <td>Regional Marketing</td>
                    <td>Tokyo</td>
                    <td>20</td>
                    <td>2011-08-14</td>
                    <td>$163,000</td>
                </tr>
                <tr>
                    <td>Michelle House</td>
                    <td>Integration Specialist</td>
                    <td>Sydney</td>
                    <td>37</td>
                    <td>2011-06-02</td>
                    <td>$95,400</td>
                </tr>
                <tr>
                    <td>Suki Burks</td>
                    <td>Developer</td>
                    <td>London</td>
                    <td>53</td>
                    <td>2009-10-22</td>
                    <td>$114,500</td>
                </tr>
                <tr>
                    <td>Prescott Bartlett</td>
                    <td>Technical Author</td>
                    <td>London</td>
                    <td>27</td>
                    <td>2011-05-07</td>
                    <td>$145,000</td>
                </tr>
                <tr>
                    <td>Gavin Cortez</td>
                    <td>Team Leader</td>
                    <td>San Francisco</td>
                    <td>22</td>
                    <td>2008-10-26</td>
                    <td>$235,500</td>
                </tr>
                <tr>
                    <td>Martena Mccray</td>
                    <td>Post-Sales support</td>
                    <td>Edinburgh</td>
                    <td>46</td>
                    <td>2011-03-09</td>
                    <td>$324,050</td>
                </tr>
                <tr>
                    <td>Unity Butler</td>
                    <td>Marketing Designer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009-12-09</td>
                    <td>$85,675</td>
                </tr>
                <tr>
                    <td>Howard Hatfield</td>
                    <td>Office Manager</td>
                    <td>San Francisco</td>
                    <td>51</td>
                    <td>2008-12-16</td>
                    <td>$164,500</td>
                </tr>
                <tr>
                    <td>Hope Fuentes</td>
                    <td>Secretary</td>
                    <td>San Francisco</td>
                    <td>41</td>
                    <td>2010-02-12</td>
                    <td>$109,850</td>
                </tr>
                <tr>
                    <td>Vivian Harrell</td>
                    <td>Financial Controller</td>
                    <td>San Francisco</td>
                    <td>62</td>
                    <td>2009-02-14</td>
                    <td>$452,500</td>
                </tr>
                <tr>
                    <td>Timothy Mooney</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>37</td>
                    <td>2008-12-11</td>
                    <td>$136,200</td>
                </tr>
                <tr>
                    <td>Jackson Bradshaw</td>
                    <td>Director</td>
                    <td>New York</td>
                    <td>65</td>
                    <td>2008-09-26</td>
                    <td>$645,750</td>
                </tr>
                <tr>
                    <td>Olivia Liang</td>
                    <td>Support Engineer</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2011-02-03</td>
                    <td>$234,500</td>
                </tr>
                <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>38</td>
                    <td>2011-05-03</td>
                    <td>$163,500</td>
                </tr>
                <tr>
                    <td>Sakura Yamamoto</td>
                    <td>Support Engineer</td>
                    <td>Tokyo</td>
                    <td>37</td>
                    <td>2009-08-19</td>
                    <td>$139,575</td>
                </tr>
                <tr>
                    <td>Thor Walton</td>
                    <td>Developer</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2013-08-11</td>
                    <td>$98,540</td>
                </tr>
                <tr>
                    <td>Finn Camacho</td>
                    <td>Support Engineer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009-07-07</td>
                    <td>$87,500</td>
                </tr>
                <tr>
                    <td>Serge Baldwin</td>
                    <td>Data Coordinator</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2012-04-09</td>
                    <td>$138,575</td>
                </tr>
                <tr>
                    <td>Zenaida Frank</td>
                    <td>Software Engineer</td>
                    <td>New York</td>
                    <td>63</td>
                    <td>2010-01-04</td>
                    <td>$125,250</td>
                </tr>
                <tr>
                    <td>Zorita Serrano</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>56</td>
                    <td>2012-06-01</td>
                    <td>$115,000</td>
                </tr>
                <tr>
                    <td>Jennifer Acosta</td>
                    <td>Junior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>43</td>
                    <td>2013-02-01</td>
                    <td>$75,650</td>
                </tr>
                <tr>
                    <td>Cara Stevens</td>
                    <td>Sales Assistant</td>
                    <td>New York</td>
                    <td>46</td>
                    <td>2011-12-06</td>
                    <td>$145,600</td>
                </tr>
                <tr>
                    <td>Hermione Butler</td>
                    <td>Regional Director</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2011-03-21</td>
                    <td>$356,250</td>
                </tr>
                <tr>
                    <td>Lael Greer</td>
                    <td>Systems Administrator</td>
                    <td>London</td>
                    <td>21</td>
                    <td>2009-02-27</td>
                    <td>$103,500</td>
                </tr>
                <tr>
                    <td>Jonas Alexander</td>
                    <td>Developer</td>
                    <td>San Francisco</td>
                    <td>30</td>
                    <td>2010-07-14</td>
                    <td>$86,500</td>
                </tr>
                <tr>
                    <td>Shad Decker</td>
                    <td>Regional Director</td>
                    <td>Edinburgh</td>
                    <td>51</td>
                    <td>2008-11-13</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>Michael Bruce</td>
                    <td>Javascript Developer</td>
                    <td>Singapore</td>
                    <td>29</td>
                    <td>2011-06-27</td>
                    <td>$183,000</td>
                </tr>
                <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>27</td>
                    <td>2011-01-25</td>
                    <td>$112,000</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>


           <router-outlet></router-outlet>


           <footer class="footer-wrap-layout1">
               <div class="copyright">© Copyrights <a href="#">akkhor</a> 2019. All rights reserved. Designed by <a
                       href="#">PsdBosS</a></div>
           </footer>
           <!-- Footer Area End Here -->
       </div>
   </div>
   <!-- Page Area End Here -->
</div>



